.p {
  background-image: url("iris.jpg");
  height: 600px;
  width: 300px;
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
